.mdl-layout__header, .mdl-layout__drawer, .mdl-layout__drawer-button{
    position: fixed;
}

.teleop-camera-header, .teleop-map-header{
    background-color: #519ab8;
}

#main-container{
    max-width: 100vw;
    max-height: 100vh;
}

#mainGrid{
    position: relative;
    top: 60px;
    display: grid;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

#main-spacer{
    grid-area: s;
    justify-self: start;
    width: 100%;
}

/*  CAMERA STREAM PART ---------------------------- START */

#camera-gridI {
    padding: 10px;
    text-align: center;
    max-width: inherit;
    max-height: inherit;
    grid-area: b;
    width: auto;
    height: auto;
}

#camera_card {
    /*width: fit-content;*/
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}

#camera_img{
    display: block;
    /*max-width:640px;
    max-height:480px;*/
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
    aspect-ratio: initial;
    /*cursor: url(../images/outline_place_black_24dp.cur),auto;*/
    /*cursor: url(../images/place_white_24dp.svg),auto;*/
}

/*  CAMERA STREAM PART ---------------------------- END */

/*  MAP STREAM PART ---------------------------- START */

#map-gridI{
    padding: 10px;
    text-align: center;
    grid-area: a;
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}

#map_card {
    /*width: fit-content;*/
    max-width: inherit;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: visible;
}

#map_img{
    display: block;
    /*max-width:640px;
    max-height:480px;*/
    max-width: inherit;
    max-height: 100%;
    width: auto;
    height: auto;
    aspect-ratio: initial;
    /*cursor: url(../images/outline_place_black_24dp.cur),auto;*/
    /*cursor: url(../images/place_white_24dp.svg),auto;*/
}

/*  MAP STREAM PART ---------------------------- END */

/*  AUDIO CONTROLS PART ---------------------------- START */

.info-card {
    max-height: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
}

.info-wide-gridL {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "sb a a a a a a sm b sa";
    align-items: center;
    max-width: inherit;
    max-height: inherit;
    height: auto;
    width: auto;
    background-color: #519ab8;
}

#alarms-controls-gridI {
    grid-area: c;
    padding: inherit;
    text-align: center;
    align-self: start;
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}

.shout-btn {
    grid-area: b;
    justify-self: end;
    color: #3b7991;
    background-color: #b7d5e1;
}

.shout-btn:hover {
    color: #b7d5e1;
    background-color: #3b7991;
}

.shout-list{
    grid-area: a;
    justify-self: start;
    width: 100%;
}

.shout-spacer{
    justify-self: start;
}

#shout_before{
    grid-area: sb;
}

#shout_after{
    grid-area: sa;
}

#shout_middle{
    grid-area: sm;
}

/*  AUDIO CONTROLS PART ---------------------------- END */

/*  MEDIA SIZE PART ---------------------------- START */

@media (max-width: 1000px) {
    #mainGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
                "b b b b"
                "b b b b"
                "b b b b"
                "a a a a"
                "a a a a"
                "a a a a"
                "a a a a"
                "c c c c"
                "s s s s";
    }
    #map-gridI{
        height: 95%;
    }
}

@media (min-width: 1000px) {
    #mainGrid {
        grid-template-rows: 1fr 1fr auto;
        /*grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
                "a a a a b b b s"
                "a a a a b b b s"
                "a a a a b b b s"
                "a a a a c c c s";*/
        grid-template-columns: auto auto;
        grid-template-areas:
                "a b"
                "a c"
                "a .";
    }
    #map-gridI{
        height: 100%;
    }
}

/*  MEDIA SIZE PART ---------------------------- END */
