.mdl-layout__header, .mdl-layout__drawer, .mdl-layout__drawer-button{
    position: fixed;
}
#main-container{
    max-width: 100%;
    max-height: 100%;
}
#mainGrid{
    position: relative;
    top: 60px;
}
.img-card {
    /*width: fit-content;*/
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}
.stream-img{
    display: block;
    /*max-width:640px;
    max-height:480px;*/
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
    /*cursor: url(../images/outline_place_black_24dp.cur),auto;*/
    /*cursor: url(../images/place_white_24dp.svg),auto;*/
}
.teleop-camera-header, .teleop-map-header{
    background-color: #519ab8;
}

.map-gridI{
    padding: 10px;
    text-align: center;
    grid-column: 1/span 5;
    grid-row: 1/span 5;
    max-width: inherit;
    max-height: 875px;
    width: auto;
    height: auto;
}
.camera-gridI {
    padding: 10px;
    text-align: center;
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}
.alarms-controls-gridI {
    padding: inherit;
    text-align: center;
    align-self: start;
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}
.info-card {
    max-height: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
}
.webview-gridL {
    display: grid;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}

.info-wide-gridL {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "s a a a a a a b";
    align-items: center;
    max-width: inherit;
    max-height: inherit;
    height: auto;
    width: auto;
    background-color: #519ab8;
}
.shout-btn {
    grid-area: b;
    justify-self: end;
    color: #3b7991;
    background-color: #b7d5e1;
}
.shout-btn:hover {
    color: #b7d5e1;
    background-color: #3b7991;
}
.shout-list{
    grid-area: a;
    justify-self: start;
    width: 100%;
}

.shout-spacer{
    grid-area: s;
    justify-self: start;
}

#xLbl-div, #xTxt-div, #yLbl-div, #yTxt-div {
    padding: 10px;
    width: 75%;
    height: auto;
    align-content: center;
}
#xLbl-div {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
}
#xTxt-div {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
}
#yLbl-div {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}
#yTxt-div {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
#clickXLbl, #clickYLbl, #clickXTxt, #clickYTxt {
    max-width: inherit;
    max-height: inherit;
    width: auto;
    height: auto;
}
@media (max-width: 1000px) {
    .webview-gridL {
        grid-template-columns: repeat(4, auto);
    }
    .camera-gridI {
        grid-column: 1/span 5;
        grid-row: 7/span 2;
    }
    .alarms-controls-gridI {
        grid-column: 1/span 5;
        grid-row: 9/span 2;
    }
}
@media (min-width: 1000px) {
    .webview-gridL {
        grid-template-columns: repeat(6, auto);
    }
    .camera-gridI {
        grid-column: 6/span 2;
        grid-row: 1/span 2;
    }
    .alarms-controls-gridI {
        grid-column: 6/span 2;
        grid-row: 3/span 2;
    }
}
