.img-card {
    /*width: fit-content;*/
    width: auto;
    height: auto;
}
.stream-img{
    display: block;
    /*max-width:640px;
    max-height:480px;*/
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.stream-gridI{
    padding: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}
.stream-info-gridI{
    padding: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}
.map-gridI {
    padding: 10px;
    text-align: center;
}
.map-info-gridI {
    padding: 10px;
    text-align: center;
}
.info-card {
    height: 100%;
    max-width: 100%;
    width: auto;
}
.webview-gridL, .info-wide-gridL, .info-gridL {
    display: grid;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}
.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    /*min-height: 200px;
    background: white;*/
    width: 50vw;
    margin: 100px auto;
    border-radius: 2px;
}
#xLbl-div, #xTxt-div, #yLbl-div, #yTxt-div {
    padding: 10px;
    width: 75%;
    height: fit-content;
    align-content: center;
}
#xLbl-div {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}
#xTxt-div {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
}
#clickXLbl, #clickYLbl, #clickXTxt, #clickYTxt {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
@media (max-width: 1000px) {
    .webview-gridL { 
        grid-template-columns: repeat(4, auto);
    }
    .titles {
        font-size: 80px;
    }
    .data-text{
        font-size: 80px;
    }
    .info-wide-gridL { 
        grid-template-columns: repeat(2, auto);
    }
    .info-gridL { 
        grid-template-columns: repeat(2, auto);
    }
    .map-gridI {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 9;
    }
    .map-info-gridI {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 9;
        grid-row-end: 13;
    }
    #yLbl-div {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 2;
        grid-row-end: 4;
    }
    #yTxt-div {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end: 3;
        grid-row-end: 4;
    }
}
@media (min-width: 1000px) {
    .webview-gridL { grid-template-columns: repeat(6, auto); }
    .titles {
        font-size: 30px;
    }
    .data-text{
        font-size: 30px;
    }
    .info-wide-gridL { 
        grid-template-columns: repeat(4, auto);
    }
    .info-gridL { 
        grid-template-columns: repeat(2, auto);
    }
    .map-gridI {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .map-info-gridI {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 7;
    }
    #yLbl-div {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-column-end: 4;
        grid-row-end: 2;
    }
    #yTxt-div {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-column-end: 5;
        grid-row-end: 2;
    }
}
