.demo-card-wide.mdl-card {
    width: auto;
    height: auto;
}

.error_input{
    background-color: #ff000055;
}

.mdl-card__actions {
    outline: skyblue solid 5px;
    z-index: 4;
}

.mdl-button {
    grid-area: b;
    justify-self: end;
    color: #3b7991;
    background-color: #b7d5e1;
}

.mdl-button:hover {
    color: #b7d5e1;
    background-color: #3b7991;
}

.demo-card-wide > .mdl-card__title {
    color: #3b7991;
    height: 64px;
    background-color:#b7d5e1;
}

.mdl-card__title-text {
    position: relative;
    top: 6px;
}

#login, #logout, #register {
    margin: auto;
    width: fit-content;
    padding: 10px;
    diplay: flex;
}

#next{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "a a a a a a a a a b";
}

.log-card-title {
    background-color: #b7d5e1;
    color: #3b7991;
}