.demo-card-wide.mdl-card {
    width: auto;
    height: auto;
}

.mdl-card__actions {
    outline: skyblue solid 5px;
    z-index: 4;
}

.mdl-button {
    color: #4a148c;
    background-color: #e1bee7;
    margin-left: 10px ;
}

.mdl-button:hover {
    color: #e1bee7;
    background-color: #4a148c;
}

.demo-card-wide > .mdl-card__title {
    color: #e1bee7;
    height: 64px;
    background-color:#4a148c;
}

.mdl-card__title-text {
    position: relative;
    top: 6px;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

#login, #logout, #register {
    margin: auto;
    width: fit-content;
    padding: 10px;
    diplay: flex;
}